<div class="fullPage">
    <mat-toolbar color="primary" class="tool-bar">
      <mat-toolbar-row>
        <button 
          class="nav-icon"
          mat-icon-button (click)="drawer.toggle()">
          <mat-icon>view_headline</mat-icon>
        </button>
        <span class="logo-container">
          <img 
          class="barImage" 
          src="assets/algo-1bh.png" 
          alt="Powered by Algofusion">
        </span>
        <button  class="nav-icon" mat-button [matMenuTriggerFor]="menu">
          <i class="material-icons" id="icn">account_circle</i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{"email@gmail.com"}}</button>
          <button mat-menu-item><i class="material-icons" >settings</i> Account settings</button>
          <button mat-menu-item><i class="material-icons" >logout</i> Logout</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-drawer-container>
      <mat-drawer #drawer class="leftpanel" mode="side">
          <mat-action-list class="nav-items">
            <h4 align ="center" class="header">Settings</h4>
              <mat-list-item class="sidebuttons" [routerLink]="['/dashboard']"> 
                <mat-icon class="iconspace">dashboard</mat-icon> 
                <span class="nav-title"> Manage Recons </span>
              </mat-list-item>
              <mat-list-item class="sidebuttons" [routerLink]="['/recons']">
                <mat-icon class="iconspace">table_chart</mat-icon> 
                <span class="nav-title"> Configure recons</span>
              </mat-list-item>
              <mat-list-item class="sidebuttons" [routerLink]="['/summary']">
                <mat-icon class="iconspace">desktop_mac</mat-icon> 
                <span class="nav-title"> Recon reports</span>
              </mat-list-item>
          </mat-action-list>
      </mat-drawer>
      <mat-drawer-content class="content-wrapper">
          <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>