<h3 class="header"> Master Recon Data </h3>
<div class="input-data">
      Source :     
    <input type="text"
      placeholder="GL Bank Accounts">
    <button 
    class="upload-icon"
    mat-button>
      <span class="upload">
        <mat-icon>cloud_upload</mat-icon>
      </span>
    </button>
    <button mat-raised-button class="close" on-click="close()" >back</button>
</div>
<div class="grid-table">
  <div class="button-list">
    <button mat-raised-button
    class="properties">
    <mat-icon class="font">filter_alt</mat-icon>
      <span class="text-button">Filter</span>
    </button>
    <button mat-raised-button
    class="properties">
    <mat-icon class="font">filter_alt</mat-icon>
      <span class="text-button">Derive Column</span>
    </button>
    <button mat-raised-button
    class="properties">
    <mat-icon class="font">filter_alt</mat-icon>
      <span class="text-button">Custom Filter</span>
    </button>
    <button mat-raised-button
    class="properties">
    <mat-icon class="font">filter_alt</mat-icon>
      <span class="text-button">Skip</span>
    </button>
    <button mat-raised-button
    class="properties">
    <mat-icon class="font">calculate</mat-icon>
      <span class="text-button">Set as Headers</span>
    </button>
    <button mat-raised-button
    class="properties f-right">
    <mat-icon class="font">remove_red_eye</mat-icon>
      <span class="text-button">Properties</span>
    </button>
  </div>
  <ag-grid-angular
    #agGrid
    style="width: 98%; height: 400px;"
    class="ag-theme-balham"
    id="myGrid"
    [modules]="modules"
    [rowData]="rowData"
    [columnDefs]="columnData"
    [rowSelection]="multiple"
    [animateRows]= "true"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [suppressDragLeaveHidesColumns]="true"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [sideBar]="sideBar"
      [defaultColDef]="defaultColDef"
      [suppressMakeColumnVisibleAfterUnGroup]="true"
      [pagination]= "true"
            
    [paginationPageSize]= "10">
      </ag-grid-angular>
        
</div>